@import '../../style/root.css';

@import '../../style/root.css';

/* FLEX - GAP */
main,.wrapper-container,.list-cart,.cart-tot,.cart-item,.cart-descrition,.cart-unidade,.cart-quantidade,.tot,.actions,.desc-total,.sub-total{
    display:flex;
    gap:var(--scale-medium);
}

main,.wrapper-container{
    gap:var(--scale-xlarge);
}

/* ROW */
.cart-item,.cart-quantidade,.cart-tot,.desc-total,.sub-total{
    flex-flow:row nowrap;
}

/* COLUMN */
main,.wrapper-container,.list-cart,.cart-descrition,.cart-unidade,.cart-quantidade,.tot,.actions{
    flex-flow:column nowrap;
    flex:1;
    justify-content: center;
}

.cart-item,.cart-tot{
    border-radius:var(--radius-small);
    background:var(--color-principal-light);
    border:var(--scale-xxsmall) solid var(--color-neutral-1);

    padding:var(--scale-large);
    gap:var(--scale-large);
    justify-content: space-between;
}


.list-cart>.cart-item>img{
    width:128px;
    height:100%;
    object-fit: cover;
    border-radius:var(--radius-small);
}

.cart-item>.cart-descrition{
    flex:1;
    width: 100%;
}

.cart-item>.cart-unidade{
    max-width:180px;
    align-items: center;
}

.cart-item>.cart-unidade>strong{
    text-decoration: line-through;
    color:var(--color-feedback-negative-3);
}

.cart-item>.cart-quantidade{
    max-width:120px;
}

.cart-item>.cart-quantidade>input{
    font-size: var(--font-headline-x4);
    text-align: center;
}

.cart-item>.tot{
    max-width:180px;
    align-items: center;
}

.cart-item>.actions{
    max-width:64px;
    justify-content: space-between;
}

.cart-tot{
    justify-content: flex-end;
}

.cart-tot>.desc-total,.cart-tot>.sub-total{
    align-items: center;
}
.cart-tot>.desc-total>h5{
    text-decoration: line-through;
    color:var(--color-feedback-negative-3);
}
.cart-tot>.sub-total>h5{
    color:var(--color-primary-3);
}


@media only screen and (max-width: 1199.98px){
}
@media only screen and (max-width: 991.98px){
}
@media only screen and (max-width:767.98px){
    main{
        padding-bottom:var(--scale-xbig);
    }
    .cart-item,.cart-tot{
        flex-flow:row wrap;
    }
    footer{
        flex-flow:column nowrap;
    }
    footer>button{
        width:100%;
    }
}
@media only screen and (max-width:575.98px){
}